{% extends "template_ref.html" %}
{% load static %}

{% block body %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Du gras, oui, mais de qualité !</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</p>
                        <a class="nav-link js-scroll-trigger mw-50" class="h-50px">
                            <form class=" row align-i-c" method="post" action="/selection">
                                {% csrf_token %}
                                <input autocomplete='off' type="text" name="user_text" class="form-control col-9" placeholder="Rechercher">
                                <button class="btn btn-lg bg-white mx-auto col-2 h-50px" type="submit" name="wen_logo">
                                    <img src="static/assets/img/Search.png" class="h-100">
                                </button>
                            </form>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Colette et Remy</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white mb-4">
                            Rémy et Colette sont deux restaurateurs de renom. Abattus par les difficultés que rencontraient leurs clients et eux mêmes à trouver des substituts aux produits peu nutritifs qu'ils consommaient au quotidien, ces deux amoureux de gastronomie française se sont lancés un nouveau défi : permettre le remplacement d'un produit du quotidien par un autre plus sain en quelques clics. Recherchez le produit de votre choix dans la barre de recherche
                        </p>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row justify-content-around">
                            <label for="exampleFirstName">
                                <strong>
                                    Colette
                                </strong>
                                <img src="static/assets/img/colette.png" class="h-200px">
                            </label>
                            <label for="exampleFirstName">
                                <strong>
                                    Remy
                                </strong>
                                <img src="static/assets/img/remy.png" class="h-200px">
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Contactez-nous !</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">Vous désirez d'avantages d'informations ? </br>
                            N'hésitez pas à nous les demander par téléphone ou par email ! </br></br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                        <div>0000000000</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block" href="mailto:contact@yourwebsite.com">mail@mail.com</a>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}