{% extends "template_ref.html" %}
{% load static %}


{% block body %}
<!-- block banner -->
<section class="text-center pt-mainNav full-size jc-center row m-0">
    <div class="col-lg-12 h-25" id="account-banner">
        <h1 class="pt-50px">
            Mentions légales
        </h1>
    </div>

    <div class="container-fluid w-50 text-center">
        <h3>
            <u>API:</u><a href="https://world.openfoodfacts.org/data" target="_blank"> OpenFoodFact</a></br>
            <u>Hebergeur:</u><a href="https://www.heroku.com" target="_blank"> Heroku</a>
        </h3>
    </div>
</section>

{% endblock %}